<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/login.css" />
  </head>
  <body>
    <header>
      <p>Mega Rocket SA</p>
    </header>
    <a href="../views/index.html">
      <img
        class="arrow-img"
        src="../../assets/img/arrow.png"
        alt="arrow-icon"
      />
    </a>
    <main>
      <div class="title-container">
        <h2>Log in</h2>
        <img src="../../assets/img/img-02.png" alt="icon" />
      </div>
      <div class="form-container">
        <form>
          <div class="flex-column">
            <label>Email</label>
            <input type="text" class="inputs" />
          </div>
          <div class="flex-column">
            <label>Password</label>
            <input type="password" class="inputs" />
          </div>
          <div class="remember-container flex">
            <input type="checkbox" name="remember-me" />
            <label>Remember me</label>
            <a>
              <p>Forgot Password?</p>
            </a>
          </div>
          <div class="button-container flex">
            <button>Continue</button>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
